* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #48124A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.container p {
    font-size: 15px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

.form input {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    width: 500px;
}

.button{
    width: 75px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: #48124A;
    color: #fff;
    margin-top: 5px;
}
.button:hover{
    background-color: #8a2be2;
}